.two-div {
    background-color: pink;
}

.projects-about-text {
    background-color: white;
    text-align: center;
    width: 100%;
}

.projects-about-text > h1 {
    font-size: 65px;
}

.projects-container {
    width: 100%;
    margin: 90px 200px 50px 80px;
    display: flex;
}

.project {
    margin: 10px 80px;
    width: 400px;
    height: 300px;
    background-color: white;
}

.project:hover {
    transform: scale(1.4);
    transition-duration: 1.5s;
}

.project-pic-container {
    height: 230px;
    background-color: #757575;
}

.project-text {
    text-align: center;
    height: 100%;
}

.project-text > p {
    font-size: 26px;
    position: relative;
    bottom: 10px;
}
