@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Righteous&family=Stick+No+Bills&display=swap');

.three-div {
    background: url("./pic.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-info-title {
    position: relative;
    top: 250px;
    width: 100%;
    text-align: center;
}

.contact-info-title > h1 {
    font-size: 75px;
    color: white;
    letter-spacing: 10px;
    font-family: 'Permanent Marker', cursive;
}

.contact-info-container {
    position: relative;
    top: 350px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contact-container {
    margin: 10px 40px;
    height: fit-content;
}

.contact-text-info {
    width: 280px;
    height: 100px;
    background-color: #3e3e3e;
    text-align: center;
}

.contact-name {
    font-size: 36px;
    font-family: 'Stick No Bills', sans-serif;
    color: white;
}

.show-btn {
    background: transparent;
    height: 100px;
    width: 280px;
    border: none;
}

.contact-name:hover {
    transform: translate(0,-50px);
    transition-duration: 1s;
    color: #c8c8c8;
}

.contact-route {
    background: radial-gradient(circle, #fbff2d, #91ff31, #5ed7ff);
    height: 180px;
    width: 280px;
    display: none;
    word-wrap: break-word;
    text-align: center;
    padding-top: 35px;
}

.contact-route > p {
    font-size: 22px;
    font-family: 'Righteous', cursive;
}

@media screen and (max-width: 767px) {
    .contact {
        max-height: 100vh;
    }

    #contact {
        max-height: 100vh;
    }

    .three-div  {
        position: relative;
        top: -80vh;
    }

    .contact-info-title {
        top: 40px;
        left: 25px;
        width: 360px;
        text-align: center;
    }

    .contact-info-title > h1 {
        font-size: 22px;
        letter-spacing: 3px;
        font-family: 'Permanent Marker', cursive;
    }
    
    .contact-info-container {
        top: 50px;
        left: 120px;
        width: 260px;
        display: flex;
        flex-direction: column;
    }

    .contact-name {
        font-size: 22px;
    }

    .contact-container {
        margin: 5px 20px;
        max-width: 100px;
    }

    .contact-text-info {
        height: 60px;
        width: 120px;
    }

    .show-btn {
        width: fit-content;
        height: fit-content;
    }

    .contact-route {
        padding-top: 4px;
        width: 120px;
        height: 60px;
    }

    .contact-route > p {
        font-size: 14px;
    }
}
