@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bangers&family=Potta+One&family=Satisfy&display=swap');

.skills-page {
    background: #e8e8e8;
    height: 140vh;
}

.containers-skills {
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: row;
}

.backend-container {
    margin-left: 100px;
    width: 450px;
    height: 850px;
    background: white;
}

.general-info {
    margin: 0 100px;
    width: 550px;
    height: 800px;
    background-color: transparent;
}

.frontend-container {
    position: relative;
    width: 450px;
    height: 850px;
    background: white;
}

.skill-level-container {
    height: 140px;
    background-color: #eeeeee;
    border-radius: 4rem;
}

.skill-level-container > p {
    margin-left: 45px;
    font-size: 40px;
    font-family: 'Potta One', cursive;
}

.title-container-skill {
    height: 60px;
    text-align: center;
}

.title-container-skill > h1 {
    font-size: 50px;
    letter-spacing: 5px;
    font-family: 'Bangers', cursive;
}

.line-svg {
    stroke: #333152;
    stroke-width: 28;
}

.genInfo-text {
    margin-top: 350px;
    text-align: center;
}

.genInfo-text > h1 {
    font-size: 60px;
    font-family: 'Abril Fatface', cursive;
}

.genInfo-text > p {
    font-size: 35px;
    font-family: 'Satisfy', cursive;
}
